body {
	background-color: #300542;
	color: #fff;
	margin: 0;
	min-height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
	background-color:#003c8f;
	box-shadow: 0 0 10px #1a4ea3, 0 0 30px #1a4ea3,0 0 50px #1a4ea3;
	padding: 30px;
	border-radius: 10px;
	border: 2px solid #98dfee;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.form {
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 20px;
	column-gap: 30px;
	justify-content: center;
	align-items: center;
}

.title {
	margin: 0;
	text-align: center;
}

label {
	font-weight: bold;
}

.character-amount-container {
	display: flex;
	align-items: center;
}

.number-input {
	width: 27px;
}

.password-display {
	background-color: #fff;
	color: #000;
	padding: 10px;
	border: 1px solid #333;
	height: 20px;
	width: 360px;
	text-align: center;
	word-break: break-all;
	border-radius: 10px;
}

.btn {
	grid-column: span 2;
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	padding: 10px;
	font-size: 17px;
	font-weight: bold;
	margin-top: 10px;
	cursor: pointer;
	border-radius: 10px;
	outline: none;
}

.btn:hover {
	/* background-color: #ffffff30; */
	background: #FF34CB;
	box-shadow: 0 0 10px #FF34CB, 0 0 40px #FF34CB,0 0 80px #FF34CB;
}